// TODO Fix browser resize bug
/* When browser is resized, the current scroll position does not stay
consistent with where the viewport was prior to resize.
Example: If the user is looking at the about page and resizes the browser, scrollsnap stops working
and the use is able to see half of the page */


.container {

    &>* {
        display: flex;
        align-items: center;
    }
    div[class$="__content-wrapper"] {
        min-height: 93%;
        min-width: 100%;
        margin: 4rem 1.5rem 1rem;
        padding: 2rem;
        border-radius: 10px;
        display: flex;
        position: relative;
    }

 

    .left-arrow, .right-arrow {
        font-size: 3.5rem;
        line-height: 0;
        position: absolute;
        bottom: 2rem;
        &__link {
            @include link-unset;
            color: rgba(var(--near-white-rgb), .8);
        }
    }

    .left-arrow {
       left: 1.5rem;
    }
    .right-arrow {
        right: 1.5rem;
    }

}