/* 
    Files use a 7 to 1 architecture .
*/
@-webkit-keyframes GradientScrollRight {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes GradientScrollRight {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-o-keyframes GradientScrollRight {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes GradientScrollRight {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Reason for doing this: I wanted to use css variables for their flexibility 
but I also wanted them to be in a single folder for easy changes. 
I needed the ability to use them in a rgba format and I wanted the ability to manipulate them using JS.
This solution also provides a bit of future proofing. I can easily change, expand, and manipulate the color pallet
all from a single folder. It required a bit of sass and css trickery to accomplish.

Unused colors will be removed before final deployment.
*/
/* General */
/* Black */
/* grey */
/* white */
/* Spring */
/* Summer */
/* Fall */
/* Winter */
:root {
  /* Black */
  --dark: #0e1316;
  --dark-rgb: 14, 19, 22;
  --blue-black: #142025;
  --blue-black-rgb: 20, 32, 37;
  /* grey */
  --grey: #535657;
  --grey-rgb: 83, 86, 87;
  /* white */
  --off-white: #c5c6c7;
  --off-white-rgb: 197, 198, 199;
  --near-white: #fafafa;
  --near-white-rgb: 250, 250, 250;
  /* Spring */
  --spring-dark: #ff5f88;
  --spring-dark-rgb: 255, 95, 136;
  --spring-primary: rgb(#ffa3ba);
  --spring-primary-rgb: 255, 163, 186;
  --spring-secondary: #ffd3de;
  --spring-secondary-rgb: 255, 211, 222;
  --spring-light: #ffe1e9;
  --spring-light-rgb: 255, 225, 233;
  /* Summer */
  --summer-dark: #084177;
  --summer-dark-rgb: 8, 65, 119;
  --summer-primary: #0779e4;
  --summer-primary-rgb: 7, 121, 228;
  --summer-secondary: #6cb2f5;
  --summer-secondary-rgb: 108, 178, 245;
  --summer-light: #c5e2fc;
  --summer-light-rgb: 197, 226, 252;
  /* Fall */
  --fall-dark: #fa4a3a;
  --fall-dark-rgb: 250, 74, 58;
  --fall-primary: #ea6559;
  --fall-primary-rgb: 234, 101, 89;
  --fall-secondary: #f79071;
  --fall-secondary-rgb: 247, 144, 113;
  --fall-light: #fdd6cb;
  --fall-light-rgb: 253, 214, 203;
  /* Winter */
  --winter-dark: #345a67;
  --winter-dark-rgb: 52, 90, 103;
  --winter-primary: #8eb3bf;
  --winter-primary-rgb: 142, 179, 191;
  --winter-secondary: #aed1dc;
  --winter-secondary-rgb: 174, 209, 220;
  --winter-light: #d9eaef;
  --winter-light-rgb: 217, 234, 239;
  --font-1: ode, serif;
  --font-2: pinecone-mvb,sans-serif;
  --font-3: sofia-pro-condensed, sans-serif; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: var(--font-3); }
  @media (max-width: 105em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 90em) {
    html {
      font-size: 50%; } }
  @media (max-width: 80em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 64em) {
    html {
      font-size: 42%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 38.25%; } }
  @media (max-width: 50em) {
    html {
      font-size: 33.5%; } }

body {
  overflow: hidden; }

.navigation {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3rem;
  font-size: 3rem;
  font-family: var(--font-2); }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
    @media (max-width: 64em) {
      .navigation__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%; } }
    .navigation__list--item {
      text-align: center;
      padding: 1rem 1.5rem; }
      @media (max-width: 64em) {
        .navigation__list--item {
          flex: 1;
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 8rem;
          border-bottom: solid 1px rgba(var(--near-white-rgb), 0.8); }
          .navigation__list--item:last-of-type {
            border-bottom: none; } }
  .navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    padding: .5rem 2rem .5rem 2rem;
    transition: all .5s; }
    .navigation__link--home {
      color: rgba(var(--spring-secondary-rgb), 1); }
      .navigation__link--home:hover, .navigation__link--home:active {
        color: rgba(var(--spring-primary-rgb), 1); }
    .navigation__link--projects {
      color: rgba(var(--summer-secondary-rgb), 1); }
      .navigation__link--projects:hover, .navigation__link--projects:active {
        color: rgba(var(--summer-primary-rgb), 1); }
    .navigation__link--about {
      color: rgba(var(--fall-secondary-rgb), 1); }
      .navigation__link--about:hover, .navigation__link--about:active {
        color: rgba(var(--fall-primary-rgb), 1); }
    .navigation__link--contact {
      color: rgba(var(--winter-secondary-rgb), 1); }
      .navigation__link--contact:hover, .navigation__link--contact:active {
        color: rgba(var(--winter-primary-rgb), 1); }
    @media (max-width: 64em) {
      .navigation__link {
        margin: auto 0; } }

.nav-toggle {
  opacity: 0; }

@media (max-width: 64em) {
  .navigation {
    position: absolute;
    background-color: rgba(var(--dark-rgb), 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden; }
  .navigation--open {
    transform: translateX(0);
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation--closed {
    transform: translateX(-100%);
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  .nav-toggle {
    opacity: 1;
    z-index: 10000;
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 3rem;
    cursor: pointer; }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background-color: rgba(var(--near-white-rgb), 0.8);
    height: 3px;
    width: 8rem;
    border-radius: 3px;
    transition-duration: 300ms;
    transition-timing-function: ease-out; }
  .hamburger::before {
    transform: translateY(-6px); }
  .hamburger::after {
    transform: translateY(3px); }
  .open .hamburger {
    transform: rotate(180deg) rotate(45deg); }
  .open .hamburger::before {
    opacity: 0; }
  .open .hamburger::after {
    transform: translateY(-3px) rotate(-360deg) rotate(-90deg); } }

.btn {
  display: inline-block;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  font-size: 4rem;
  font-family: var(--font-2);
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  color: rgba(var(--dark-rgb), 0.8);
  background-color: rgba(var(--spring-secondary-rgb), 0.8);
  box-shadow: 6px 3px 2px rgba(var(--dark-rgb), 0.3);
  transition: all .5s; }
  .btn:hover {
    color: rgba(var(--spring-light-rgb), 0.9);
    background-color: rgba(var(--spring-dark-rgb), 0.9);
    transform: translate(-3px, -3px);
    transition: all .5s;
    box-shadow: 6px 3px 2px rgba(var(--dark-rgb), 0.3); }
  @media (max-width: 80em) {
    .btn {
      padding: 4rem;
      font-size: 6rem; } }
  .btn--small {
    font-size: 1.8rem;
    margin: .5rem;
    padding: 1.2rem; }
    .btn--small:hover {
      color: rgba(var(--dark-rgb), 0.8);
      background-color: rgba(var(--near-white-rgb), 0.1);
      transform: translate(0, -10px);
      transition: all .5s; }
    @media (max-width: 80em) {
      .btn--small {
        font-size: 3rem;
        margin: 1rem;
        padding: 2rem; } }
  .btn--project {
    width: 8rem;
    font-size: 4.5rem;
    margin: 0 .8rem;
    padding: .5rem;
    box-shadow: 6px 3px 5px rgba(var(--dark-rgb), 0.8); }
  .btn--card {
    font-size: 2rem;
    margin: 0 6rem 1rem;
    padding: 2rem;
    background-color: rgba(var(--summer-secondary-rgb), 0.8);
    box-shadow: 6px 3px 2px rgba(var(--summer-dark-rgb), 0.9); }
    .btn--card:hover {
      color: rgba(var(--summer-primary-rgb), 0.8);
      background-color: rgba(var(--summer-light-rgb), 0.8);
      transform: translate(0, -10px);
      transition: all .5s; }
    @media (max-width: 80em) {
      .btn--card {
        font-size: 4rem;
        margin: 0 24rem 1rem;
        padding: 1rem; } }
    @media (max-width: 64em) {
      .btn--card {
        font-size: 2.8rem; } }
    @media (max-width: 56.25em) {
      .btn--card {
        font-size: 2.2rem;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .btn--card {
        margin: 0 14rem 2rem;
        padding: 1.6rem;
        font-size: 2.8rem; } }

.left-arrow, .right-arrow {
  font-size: 4rem;
  line-height: 0;
  position: absolute;
  bottom: 3.5rem; }
  .left-arrow__link, .right-arrow__link {
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    color: rgba(var(--near-white-rgb), 0.8); }
  @media (max-width: 64em) {
    .left-arrow, .right-arrow {
      display: none; } }

.left-arrow {
  left: 1.5rem; }

.right-arrow {
  right: 1.5rem; }

.container div[class$="__content-wrapper"] {
  height: 100%;
  min-width: 100%;
  padding: 2rem;
  position: relative;
  color: rgba(var(--near-white-rgb), 0.8);
  background-color: rgba(var(--dark-rgb), 0.8); }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  background-color: none;
  color: rgba(var(--off-white-rgb), 0.7);
  font-family: 'ode', serif; }
  @media (max-width: 105em) {
    .footer {
      font-size: 2.6rem; } }
  .footer #copyrite_year {
    font-size: 2.6rem; }
    @media (max-width: 105em) {
      .footer #copyrite_year {
        font-size: 3.2rem; } }

.scroll-wrapper__outter {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  scroll-snap-type: both mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth; }
  @media (max-width: 64em) {
    .scroll-wrapper__outter {
      width: 100vw;
      height: 100vh;
      transform: rotate(0) translateX(0); } }

.scroll-wrapper__outter::-webkit-scrollbar {
  display: none; }

.scroll-wrapper__inner {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; }
  @media (max-width: 64em) {
    .scroll-wrapper__inner {
      transform: rotate(0) translateX(0);
      grid-template-columns: 1fr;
      grid-template-rows: auto; } }
  .scroll-wrapper__inner > * {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center; }

/* home page specific layouts */
.container__home__content-wrapper .intro {
  position: absolute;
  top: 16rem;
  right: 8rem;
  height: 50%;
  width: 50%;
  font-size: 6rem;
  font-family: var(--font-1);
  text-align: center;
  line-height: .8; }
  @media (max-width: 105em) {
    .container__home__content-wrapper .intro {
      top: 20rem;
      right: 8rem; } }
  @media (max-width: 80em) {
    .container__home__content-wrapper .intro {
      top: 0;
      right: 0;
      position: relative;
      margin: 10% auto;
      width: 80%;
      font-size: 12rem; } }
  @media (max-width: 64em) {
    .container__home__content-wrapper .intro {
      margin: 20% auto;
      font-size: 8rem; } }
  @media (max-width: 50em) {
    .container__home__content-wrapper .intro {
      margin: 50% auto;
      width: 100%;
      font-size: 6rem; } }
  @media (max-width: 50em) {
    .container__home__content-wrapper .intro {
      margin: 50% auto;
      width: 100%;
      font-size: 5.6rem; } }
  @media (max-width: 37.5em) {
    .container__home__content-wrapper .intro {
      line-height: 1;
      font-size: 5rem; } }
  .container__home__content-wrapper .intro__main {
    margin-bottom: 4rem; }
  .container__home__content-wrapper .intro__main-focus {
    font-size: 9rem;
    font-weight: 700;
    color: rgba(var(--spring-secondary-rgb), 0.8);
    background: linear-gradient(90deg, rgba(var(--spring-dark-rgb), 0.8), rgba(var(--spring-secondary-rgb), 0.8), rgba(var(--spring-light-rgb), 0.8));
    background-size: 600% 600%;
    -webkit-animation: GradientScrollRight 30s ease infinite;
    -moz-animation: GradientScrollRight 30s ease infinite;
    -o-animation: GradientScrollRight 30s ease infinite;
    animation: GradientScrollRight 30s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media (max-width: 80em) {
      .container__home__content-wrapper .intro__main-focus {
        font-size: 10rem; } }
    @media (max-width: 64em) {
      .container__home__content-wrapper .intro__main-focus {
        font-size: 9rem; } }
    @media (max-width: 50em) {
      .container__home__content-wrapper .intro__main-focus {
        font-size: 8rem; } }
    @media (max-width: 37.5em) {
      .container__home__content-wrapper .intro__main-focus {
        font-size: 5.6rem; } }
  .container__home__content-wrapper .intro__sub {
    font-size: 5rem;
    line-height: 1.2;
    padding-bottom: 2rem; }
    @media (max-width: 105em) {
      .container__home__content-wrapper .intro__sub {
        font-size: 5rem; } }
    @media (max-width: 80em) {
      .container__home__content-wrapper .intro__sub {
        font-size: 6rem; } }
    @media (max-width: 64em) {
      .container__home__content-wrapper .intro__sub {
        font-size: 5rem; } }
    @media (max-width: 50em) {
      .container__home__content-wrapper .intro__sub {
        font-size: 4rem; } }
    @media (max-width: 37.5em) {
      .container__home__content-wrapper .intro__sub {
        font-size: 3.8rem; } }
    @media (max-width: 35em) {
      .container__home__content-wrapper .intro__sub {
        font-size: 3.6rem; } }
  .container__home__content-wrapper .intro .btn {
    margin-top: 4rem; }
    @media (max-width: 80em) {
      .container__home__content-wrapper .intro .btn {
        margin-top: 6rem; } }
    @media (max-width: 64em) {
      .container__home__content-wrapper .intro .btn {
        font-size: 5rem; } }
    @media (max-width: 50em) {
      .container__home__content-wrapper .intro .btn {
        font-size: 4rem;
        margin-top: 8rem; } }
    @media (max-width: 37.5em) {
      .container__home__content-wrapper .intro .btn {
        font-size: 3.4rem; } }

.container__contact__content-wrapper {
  font-size: 4rem;
  text-align: center; }

.container .contact__description {
  position: absolute;
  top: 3rem;
  right: 8rem;
  height: 100%;
  width: 50%;
  font-size: 5rem;
  font-family: var(--font-1);
  text-align: center;
  line-height: .8; }
  @media (max-width: 80em) {
    .container .contact__description {
      position: relative;
      top: 0;
      right: 0;
      margin: 10% auto;
      width: 80%;
      font-size: 12rem; } }
  @media (max-width: 64em) {
    .container .contact__description {
      margin: 20% auto;
      font-size: 8rem; } }
  @media (max-width: 50em) {
    .container .contact__description {
      margin: 50% auto;
      width: 100%;
      font-size: 6rem; } }
  @media (max-width: 37.5em) {
    .container .contact__description {
      margin: 40% auto; } }
  .container .contact__description--heading {
    margin-bottom: 4rem;
    font-weight: 400; }
    .container .contact__description--heading--em {
      color: rgba(var(--winter-secondary-rgb), 1);
      background: linear-gradient(90deg, rgba(var(--winter-dark-rgb), 0.8), rgba(var(--winter-secondary-rgb), 0.8), rgba(var(--winter-light-rgb), 0.8));
      background-size: 600% 600%;
      -webkit-animation: GradientScrollRight 30s ease infinite;
      -moz-animation: GradientScrollRight 30s ease infinite;
      -o-animation: GradientScrollRight 30s ease infinite;
      animation: GradientScrollRight 30s ease infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    @media (max-width: 37.5em) {
      .container .contact__description--heading {
        font-size: 10rem;
        line-height: 1.2; } }
  .container .contact__description--main {
    margin-bottom: 2rem;
    line-height: 1;
    font-family: var(--font-3); }
    @media (max-width: 37.5em) {
      .container .contact__description--main {
        font-size: 7rem; } }
  .container .contact__description--phone {
    width: 50%;
    margin: 2rem auto;
    padding: 2rem 0 2rem;
    font-size: 6rem;
    border-bottom: solid currentColor 1px; }
    @media (max-width: 37.5em) {
      .container .contact__description--phone {
        font-size: 8rem; } }
  .container .contact__description--socials {
    margin-top: 2rem;
    font-size: 6rem; }
    .container .contact__description--socials > * {
      padding: 0 2rem;
      color: rgba(var(--winter-secondary-rgb), 1);
      background: linear-gradient(90deg, rgba(var(--winter-dark-rgb), 0.8), rgba(var(--winter-secondary-rgb), 0.8), rgba(var(--winter-light-rgb), 0.8));
      background-size: 600% 600%;
      -webkit-animation: GradientScrollRight 30s ease infinite;
      -moz-animation: GradientScrollRight 30s ease infinite;
      -o-animation: GradientScrollRight 30s ease infinite;
      animation: GradientScrollRight 30s ease infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .container .contact__description--socials > *:hover {
        color: rgba(var(--winter-primary-rgb), 0.8);
        transform: translate(0, 0);
        transition: all .5s; }
    @media (max-width: 37.5em) {
      .container .contact__description--socials {
        font-size: 8rem; } }

.container__about__content-wrapper {
  font-family: var(--font-3);
  font-size: 3.8rem;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.container__about .about__bio--container {
  margin-top: 5%;
  flex: 1;
  padding: 4rem;
  width: 100%;
  font-size: 4rem;
  background-color: rgba(var(--dark-rgb), 0.2);
  border-radius: 5px; }
  .container__about .about__bio--container--em {
    color: rgba(var(--fall-secondary-rgb), 0.8); }
  @media (max-width: 80em) {
    .container__about .about__bio--container {
      margin-top: 10%;
      flex-basis: 70%;
      flex-grow: 0;
      flex-shrink: 1; } }
  @media (max-width: 40em) {
    .container__about .about__bio--container {
      font-size: 3.4rem; } }
  @media (max-width: 35em) {
    .container__about .about__bio--container {
      font-size: 3rem; } }

.container__about .about__skill-set {
  width: 100%;
  margin-top: 4rem;
  flex: 1;
  color: rgba(var(--fall-secondary-rgb), 0.8); }
  @media (max-width: 105em) {
    .container__about .about__skill-set {
      margin-top: 10rem; } }
  @media (max-width: 80em) {
    .container__about .about__skill-set {
      margin-top: 6rem; } }
  @media (max-width: 56.25em) {
    .container__about .about__skill-set {
      margin-top: 4rem; } }
  @media (max-width: 35em) {
    .container__about .about__skill-set {
      margin-top: 2rem; } }
  .container__about .about__skill-set__icon-bar {
    display: flex;
    font-size: 7.5rem;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(var(--fall-dark-rgb), 0.8), rgba(var(--fall-secondary-rgb), 0.8), rgba(var(--fall-light-rgb), 0.8));
    background-size: 600% 600%;
    -webkit-animation: GradientScrollRight 30s ease infinite;
    -moz-animation: GradientScrollRight 30s ease infinite;
    -o-animation: GradientScrollRight 30s ease infinite;
    animation: GradientScrollRight 30s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media (max-width: 37.5em) {
      .container__about .about__skill-set__icon-bar {
        font-size: 6.4rem; } }

.container__projects__content-wrapper {
  flex-wrap: wrap; }

.container .projects__grid {
  height: 80%;
  width: 95%;
  margin: 1rem auto;
  padding: 1rem;
  scrollbar-width: thin;
  flex: 1;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0; }
  .container .projects__grid::-webkit-scrollbar {
    display: none; }
  @media (max-width: 105em) {
    .container .projects__grid {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 90em) {
    .container .projects__grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 80em) {
    .container .projects__grid {
      grid-template-columns: repeat(1, 1fr);
      width: 70%;
      height: 75%;
      margin: 4rem auto; } }
  @media (max-width: 56.25em) {
    .container .projects__grid {
      width: 90%; } }
  .container .projects__grid .disable {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s; }
  .container .projects__grid--card {
    opacity: 1;
    visibility: visible;
    position: relative;
    transition: opacity .5s;
    margin: 2rem auto 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    min-height: 380px;
    min-width: 380px;
    max-height: 380px;
    max-width: 380px;
    perspective: 1000px; }
    @media (max-width: 105em) {
      .container .projects__grid--card {
        min-height: 440px;
        min-width: 440px;
        max-height: 440px;
        max-width: 440px; } }
    @media (max-width: 90em) {
      .container .projects__grid--card {
        min-height: 600px;
        min-width: 600px;
        max-height: 600px;
        max-width: 600px; } }
    @media (max-width: 80em) {
      .container .projects__grid--card {
        margin: -6rem auto;
        transform: scale(0.85); } }
    @media (max-width: 50em) {
      .container .projects__grid--card {
        margin: -4rem auto;
        min-height: 440px;
        min-width: 440px;
        max-height: 440px;
        max-width: 440px; } }
    @media (max-width: 40em) {
      .container .projects__grid--card {
        margin: -2rem auto;
        min-height: 380px;
        min-width: 380px;
        max-height: 380px;
        max-width: 380px; } }
    @media (max-width: 37.5em) {
      .container .projects__grid--card {
        min-height: 300px;
        min-width: 300px;
        max-height: 300px;
        max-width: 300px; } }
    .container .projects__grid--card--inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      background-color: rgba(var(--near-white-rgb), 0.8);
      border-radius: 5px; }
      @media (max-width: 80em) {
        .container .projects__grid--card--inner {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr); } }
      .container .projects__grid--card--inner--css {
        background-color: rgba(var(--spring-secondary-rgb), 0.8); }
      .container .projects__grid--card--inner--javascript {
        background-color: rgba(var(--summer-secondary-rgb), 0.8); }
      .container .projects__grid--card--inner--react {
        background-color: rgba(var(--fall-secondary-rgb), 0.8); }
      .container .projects__grid--card--inner--php {
        background-color: rgba(var(--winter-secondary-rgb), 0.8); }
    .container .projects__grid--card--front, .container .projects__grid--card--back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden; }
    .container .projects__grid--card--front {
      text-align: center;
      box-shadow: 3px 3px 5px rgba(var(--dark-rgb), 0.8); }
      @media (max-width: 80em) {
        .container .projects__grid--card--front {
          grid-column: 1/3;
          grid-row: 1/2;
          box-shadow: 12px 6px 10px rgba(var(--dark-rgb), 0.8); } }
    .container .projects__grid--card--back {
      display: flex;
      flex-direction: column;
      background-color: rgba(var(--near-white-rgb), 0.8);
      color: rgba(var(--dark-rgb), 0.8);
      box-shadow: 12px 6px 10px rgba(var(--dark-rgb), 0.8);
      transform: rotateY(180deg);
      border-radius: 5px; }
      @media (max-width: 80em) {
        .container .projects__grid--card--back {
          grid-column: 1/3;
          grid-row: 2/3;
          transform: rotateY(0); } }
    .container .projects__grid--card__image {
      height: 100%; }
      @media (max-width: 80em) {
        .container .projects__grid--card__image {
          height: auto;
          width: 50%; } }
    .container .projects__grid--card__description {
      padding: 2rem;
      font-size: 2.8rem;
      flex: 1; }
      @media (max-width: 80em) {
        .container .projects__grid--card__description {
          padding: 1.5rem;
          font-size: 3.5rem; } }
      @media (max-width: 37.5em) {
        .container .projects__grid--card__description {
          padding: 1.2rem;
          font-size: 3rem; } }
    .container .projects__grid--card__link {
      text-align: center; }
  .container .projects__grid--card:hover .projects__grid--card--inner {
    transform: rotateY(180deg) translateY(-10px); }
    @media (max-width: 80em) {
      .container .projects__grid--card:hover .projects__grid--card--inner {
        transform: none; } }

.container .projects__button-container {
  display: flex;
  width: 90%;
  height: 8rem;
  margin: 4% 4% 0; }
  @media (max-width: 90em) {
    .container .projects__button-container {
      margin: 5% 4% 0; } }
  @media (max-width: 80em) {
    .container .projects__button-container .btn:first-of-type {
      margin-left: auto; }
    .container .projects__button-container .btn:last-of-type {
      margin-right: auto; } }
  @media (max-width: 37.5em) {
    .container .projects__button-container {
      margin: 12% 4% 0; } }
  .container .projects__button-container .btn {
    border-radius: 3px;
    border: none; }
    .container .projects__button-container .btn:hover {
      color: rgba(var(--summer-secondary-rgb), 0.8);
      background-color: rgba(var(--summer-dark-rgb), 0.5);
      transform: translate(0, -5px);
      transition: all .5s; }
  .container .projects__button-container .btn--all {
    background-color: rgba(var(--near-white-rgb), 0.8); }
  .container .projects__button-container .btn--css {
    background-color: rgba(var(--spring-secondary-rgb), 0.9); }
  .container .projects__button-container .btn--javascript {
    background-color: rgba(var(--summer-secondary-rgb), 0.9); }
  .container .projects__button-container .btn--react {
    background-color: rgba(var(--fall-secondary-rgb), 0.9); }
  .container .projects__button-container .btn--php {
    background-color: rgba(var(--winter-secondary-rgb), 0.9); }
  .container .projects__button-container .btn--active {
    color: rgba(var(--dark-rgb), 1);
    background-color: rgba(var(--summer-light-rgb), 0.8);
    transform: translate(0, -6px);
    transition: all .5s;
    background: linear-gradient(90deg, rgba(var(--summer-dark-rgb), 0.8), rgba(var(--summer-secondary-rgb), 0.8), rgba(var(--summer-light-rgb), 0.8));
    background-size: 600% 600%;
    -webkit-animation: GradientScrollRight 10s ease infinite;
    -moz-animation: GradientScrollRight 10s ease infinite;
    -o-animation: GradientScrollRight 10s ease infinite;
    animation: GradientScrollRight 10s ease infinite; }

.background__svg-tree {
  position: fixed;
  height: 120%;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; }
  .background__svg-tree-st0 {
    clip-path: url(#XMLID_2_); }
  .background__svg-tree-st1 {
    fill: #FFFFFF; }
  .background__svg-tree-st2 {
    display: none; }
  .background__svg-tree-st3 {
    display: inline; }
  .background__svg-tree-st4 {
    display: none;
    fill: #AAC0DF;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st5 {
    display: none;
    fill: #FFABBC;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st6 {
    display: none;
    fill: #6AC195;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st7 {
    display: none;
    fill: #F0A55A;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st8 {
    display: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10; }
  .background__svg-tree-st9 {
    display: none;
    stroke: #000000;
    stroke-miterlimit: 10; }

.background__svg-backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2; }
  .background__svg-backdrop-st0 {
    fill: none; }
  .background__svg-backdrop-st1 {
    fill: #BFBFBF; }
  .background__svg-backdrop-st2 {
    fill: #898989; }
  .background__svg-backdrop-st3 {
    fill: #454545; }
  .background__svg-backdrop-st4 {
    fill: #343434; }
  .background__svg-backdrop-st5 {
    fill: #202020; }
  .background__svg-backdrop-st6 {
    fill: #151515; }
