/* 
    Files use a 7 to 1 architecture .
*/
/* Reason for doing this: I wanted to use css variables for their flexibility 
but I also wanted them to be in a single folder for easy changes. 
I needed the ability to use them in a rgba format and I wanted the ability to manipulate them using JS.
This solution also provides a bit of future proofing. I can easily change, expand, and manipulate the color pallet
all from a single folder. It required a bit of sass and css trickery to accomplish.

Unused colors will be removed before final deployment.
*/
/* General */
/* Black */
/* grey */
/* white */
/* Spring */
/* Summer */
/* Fall */
/* Winter */
:root {
  /* Black */
  --dark: #0e1316;
  --dark-rgb: 14, 19, 22;
  --blue-black: #142025;
  --blue-black-rgb: 20, 32, 37;
  /* grey */
  --grey: #535657;
  --grey-rgb: 83, 86, 87;
  /* white */
  --off-white: #c5c6c7;
  --off-white-rgb: 197, 198, 199;
  --near-white: #fafafa;
  --near-white-rgb: 250, 250, 250;
  /* Spring */
  --spring-dark: #ff5f88;
  --spring-dark-rgb: 255, 95, 136;
  --spring-primary: rgb(#ffa3ba);
  --spring-primary-rgb: 255, 163, 186;
  --spring-secondary: #ffd3de;
  --spring-secondary-rgb: 255, 211, 222;
  --spring-light: #ffe1e9;
  --spring-light-rgb: 255, 225, 233;
  /* Summer */
  --summer-dark: #084177;
  --summer-dark-rgb: 8, 65, 119;
  --summer-primary: #0779e4;
  --summer-primary-rgb: 7, 121, 228;
  --summer-secondary: #6cb2f5;
  --summer-secondary-rgb: 108, 178, 245;
  --summer-light: #c5e2fc;
  --summer-light-rgb: 197, 226, 252;
  /* Fall */
  --fall-dark: #fa4a3a;
  --fall-dark-rgb: 250, 74, 58;
  --fall-primary: #ea6559;
  --fall-primary-rgb: 234, 101, 89;
  --fall-secondary: #f79071;
  --fall-secondary-rgb: 247, 144, 113;
  --fall-light: #fdd6cb;
  --fall-light-rgb: 253, 214, 203;
  /* Winter */
  --winter-dark: #345a67;
  --winter-dark-rgb: 52, 90, 103;
  --winter-primary: #8eb3bf;
  --winter-primary-rgb: 142, 179, 191;
  --winter-secondary: #aed1dc;
  --winter-secondary-rgb: 174, 209, 220;
  --winter-light: #d9eaef;
  --winter-light-rgb: 217, 234, 239;
  --font-1: ode, serif;
  --font-2: pinecone-mvb,sans-serif;
  --font-3: sofia-pro-condensed, sans-serif; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: var(--font-3); }

body {
  overflow: hidden; }

.navigation {
  font-size: 2rem;
  width: 100%;
  height: 3.5rem;
  font-family: var(--font-2);
  position: fixed;
  top: 0;
  z-index: 1000; }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
    .navigation__list--item {
      text-align: center;
      padding: 1rem 1.5rem; }
  .navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    padding: .5rem 2rem .5rem 2rem; }
    .navigation__link--home:hover {
      color: rgba(var(--spring-dark-rgb), 1); }
    .navigation__link--projects:hover {
      color: rgba(var(--summer-primary-rgb), 1); }
    .navigation__link--about:hover {
      color: rgba(var(--fall-dark-rgb), 1); }
    .navigation__link--contact:hover {
      color: rgba(var(--winter-primary-rgb), 1); }

.btn {
  display: inline-block;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  font-size: 4rem;
  font-family: var(--font-2);
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  color: rgba(var(--near-white-rgb), 1);
  background-color: rgba(var(--dark-rgb), 0.8); }
  .btn--small {
    font-size: 1.8rem;
    margin: .5rem;
    padding: 1.2rem; }

.container > * {
  display: flex;
  align-items: center; }

.container div[class$="__content-wrapper"] {
  height: 93%;
  min-width: 100%;
  margin: 4rem 0 1rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  position: relative; }

.container .left-arrow, .container .right-arrow {
  font-size: 3.5rem;
  line-height: 0;
  position: absolute;
  bottom: 2rem; }
  .container .left-arrow__link, .container .right-arrow__link {
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    color: rgba(var(--near-white-rgb), 0.8); }

.container .left-arrow {
  left: 1.5rem; }

.container .right-arrow {
  right: 1.5rem; }

.footer {
  display: none;
  background-color: slategrey; }

.scroll-wrapper__outter {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; }

.scroll-wrapper__outter::-webkit-scrollbar {
  display: none; }

.scroll-wrapper__inner {
  display: grid;
  grid-template-columns: repeat(4, 1920px);
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; }
  .scroll-wrapper__inner > * {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center; }

/* home page specific layouts */
.container__home__content-wrapper {
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(var(--dark-rgb), 0.1); }
  .container__home__content-wrapper .intro {
    margin-top: 10rem;
    height: 50%;
    width: 50%;
    font-size: 6rem;
    font-family: var(--font-1);
    font-weight: 400;
    text-align: center;
    line-height: .9;
    display: flex;
    flex-direction: column; }
    .container__home__content-wrapper .intro__main {
      margin-bottom: 4rem; }
    .container__home__content-wrapper .intro__main-focus {
      font-size: 9rem;
      font-weight: 700; }
    .container__home__content-wrapper .intro__sub {
      font-size: 5rem;
      line-height: 1.2; }

.container__contact__content-wrapper {
  background-color: rgba(var(--winter-light-rgb), 0.2); }

.container__about__content-wrapper {
  background-color: rgba(var(--dark-rgb), 0.8);
  font-family: var(--font-3);
  color: rgba(var(--near-white-rgb), 0.8);
  flex-direction: column;
  font-size: 4rem;
  line-height: 1.1; }

.container__about .about__bio--container {
  margin: 4rem auto;
  padding: 2rem 4rem;
  width: 80%; }

.container__about .about__skill-set {
  width: 100%;
  color: rgba(var(--off-white-rgb), 0.4); }
  .container__about .about__skill-set__icon-bar {
    display: flex;
    font-size: 7.5rem;
    justify-content: space-around; }

.container__projects {
  position: relative; }
  .container__projects__content-wrapper {
    background-color: rgba(var(--dark-rgb), 0.5);
    flex-wrap: wrap; }

.container .projects__grid {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 88%;
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  scrollbar-width: thin;
  flex: 1;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem; }
  .container .projects__grid .enable {
    opacity: 1;
    visibility: visible;
    position: relative; }
  .container .projects__grid--card {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: 100%;
    min-height: 400px;
    min-width: 400px;
    max-height: 400px;
    max-width: 400px;
    perspective: 1000px; }
    .container .projects__grid--card--inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      background-color: rgba(var(--near-white-rgb), 0.8);
      border-radius: 5px; }
    .container .projects__grid--card--front, .container .projects__grid--card--back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
    .container .projects__grid--card--front {
      text-align: center; }
    .container .projects__grid--card--back {
      background-color: rgba(var(--near-white-rgb), 0.8);
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column; }
    .container .projects__grid--card__image {
      height: 100%; }
    .container .projects__grid--card__description {
      padding: 2rem;
      font-size: 2.4rem;
      flex: 1; }
    .container .projects__grid--card__link {
      text-align: center; }
  .container .projects__grid--card:hover .projects__grid--card--inner {
    transform: rotateY(180deg); }

.container .projects__button-container {
  width: 100%;
  align-self: start;
  display: flex;
  background-color: rgba(var(--dark-rgb), 0.5);
  justify-content: end; }
  .container .projects__button-container .btn {
    border-radius: 0;
    border: none; }
  .container .projects__button-container .btn--active {
    background-color: white;
    color: black; }

.background__svg-tree {
  position: fixed;
  height: 120%;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; }
  .background__svg-tree-st0 {
    clip-path: url(#XMLID_2_); }
  .background__svg-tree-st1 {
    fill: #FFFFFF; }
  .background__svg-tree-st2 {
    display: none; }
  .background__svg-tree-st3 {
    display: inline; }
  .background__svg-tree-st4 {
    display: none;
    fill: #AAC0DF;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st5 {
    display: none;
    fill: #FFABBC;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st6 {
    display: none;
    fill: #6AC195;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st7 {
    display: none;
    fill: #F0A55A;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }
  .background__svg-tree-st8 {
    display: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10; }
  .background__svg-tree-st9 {
    display: none;
    stroke: #000000;
    stroke-miterlimit: 10; }

.background__svg-backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2; }
  .background__svg-backdrop-st0 {
    fill: none; }
  .background__svg-backdrop-st1 {
    fill: #BFBFBF; }
  .background__svg-backdrop-st2 {
    fill: #898989; }
  .background__svg-backdrop-st3 {
    fill: #454545; }
  .background__svg-backdrop-st4 {
    fill: #343434; }
  .background__svg-backdrop-st5 {
    fill: #202020; }
  .background__svg-backdrop-st6 {
    fill: #151515; }
