.btn {
    display: inline-block;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 4rem;
    font-family: var(--font-2);
    @include link-unset;
    color: rgba(var(--dark-rgb), .8);
    background-color:  rgba(var(--spring-secondary-rgb), .8);
    box-shadow: 6px 3px 2px rgba(var(--dark-rgb), .3);
    transition: all .5s;
    &:hover {
        @include button-animate(rgba(var(--spring-light-rgb), .9), rgba(var(--spring-dark-rgb), .9), -3px, -3px);
        box-shadow: 6px 3px 2px rgba(var(--dark-rgb), .3);
    }
    @include respond(1280) {
        padding: 4rem;
        font-size: 6rem;
    }

    &--small {
        font-size: 1.8rem;
        margin: .5rem;
        padding: 1.2rem;
        &:hover {
            @include button-animate(rgba(var(--dark-rgb), .8), rgba(var(--near-white-rgb), .1), 0, -10px);
        }
    
        @include respond(1280) {
            font-size: 3rem;
            margin: 1rem;
            padding: 2rem;
        }
    }
    &--project {
        width: 8rem;
        font-size: 4.5rem;
        margin: 0 .8rem;
        padding: .5rem;
        box-shadow: 6px 3px 5px rgba(var(--dark-rgb), .8);
    }
    &--card {
        font-size: 2rem;
        margin: 0 6rem 1rem;
        padding: 2rem;
        background-color:  rgba(var(--dark-rgb), .6);
        box-shadow: 6px 3px 2px rgba(var(--dark-rgb), .9);
        &:hover {
            @include button-animate(rgba(var(--dark-rgb), .8), rgba(var(--near-white-rgb), .8), 0, -10px);
        }
        @include respond(1280) {
            font-size: 4rem;
            margin: 0 24rem 1rem;
            padding: 1rem;
        }
        @include respond(1024) {
            font-size: 2.8rem;
        }
        @include respond(880) {
            font-size: 2.2rem;
            padding: 2rem;
        }
    }
    &--contact {
        // font-size: 2.8rem;
        // border: none;
        // margin: 0 5rem;
        // color: rgba(var(--winter-dark-rgb), 1);
        // background-color:  rgba(var(--near-white-rgb), .9);
        // box-shadow: 6px 3px 2px rgba(var(--winter-primary-rgb), .9);

// temp
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;

        @include respond(1280) {
            // font-size: 2.6rem;
            // margin: 0 3rem;
            // padding: 2rem;
        }
        &:hover {
            // @include button-animate(rgba(var(--winter-primary-rgb), .8), rgba(var(--winter-dark-rgb), .8), -3px, -3px);
        }
    }
}