// Button component


// TODO requires polish and hover effects
.btn {
    display: inline-block;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 4rem;
    font-family: var(--font-2);
    @include link-unset;
    color: rgba(var(--near-white-rgb), 1);
    background-color:  rgba(var(--dark-rgb), .8);

    &--small {
        font-size: 1.8rem;
        margin: .5rem;
        padding: 1.2rem;
    }
}