.btn {
    display: inline-block;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 4rem;
    font-family: var(--font-2);
    @include link-unset;
    color: rgba(var(--dark-rgb), .8);
    background-color: rgba(var(--spring-secondary-rgb), .8);
    box-shadow: 6px 3px 2px rgba(var(--dark-rgb), .3);
    transition: all .5s;

    &:hover {
        @include button-animate(rgba(var(--spring-light-rgb), .9), rgba(var(--spring-dark-rgb), .9), -3px, -3px);
        box-shadow: 6px 3px 2px rgba(var(--dark-rgb), .3);
    }

    @include respond(1280) {
        padding: 3rem;
    }

    &--small {
        font-size: 1.8rem;
        margin: .5rem;
        padding: 1.2rem;

        &:hover {
            @include button-animate(rgba(var(--dark-rgb), .8), rgba(var(--near-white-rgb), .1), 0, -10px);
        }

        @include respond(1280) {
            font-size: 3rem;
            margin: 1rem;
            padding: 2rem;
        }
    }

}

// Projects specific buttons
.projects {
    &__button-container {
        display: flex;
        width: 90%;
        height: 8rem;
        margin: 2% auto .5%;           
        @include respond(1024) {
            .btn:first-of-type {
                margin-left: auto;
            }

            .btn:last-of-type {
                margin-right: auto;
            }
        }
        @include respond(420) {
            margin: 20% auto 0;
        }
        .btn {
            border-radius: 3px;
            border: none;
            &:hover {
                @include button-animate(rgba(var(--summer-secondary-rgb), .8), rgba(var(--summer-dark-rgb), .5), 0, -5px);
            }
            &--project {
                width: 8rem;
                font-size: 4.5rem;
                margin: 0 .8rem;
                padding: .5rem;
                box-shadow: 6px 3px 5px rgba(var(--dark-rgb), .8);
            }
        
            &--all {
                background-color: rgba(var(--near-white-rgb), .8);
            }
    
            &--css {
                background-color: rgba(var(--spring-secondary-rgb), .9);
            }
    
            &--javascript {
                background-color: rgba(var(--summer-secondary-rgb), .9);
            }
    
            &--react {
                background-color: rgba(var(--fall-secondary-rgb), .9);
            }
    
            &--php {
                background-color: rgba(var(--winter-secondary-rgb), .9);
            }
    
            &--active {
                @include button-animate(rgba(var(--dark-rgb), 1), rgba(var(--summer-light-rgb), .8), 0, -6px);
                @include gradient-animate(
                    90deg, 
                    rgba(var(--summer-dark-rgb), .8),
                    rgba(var(--summer-secondary-rgb), .8),
                    rgba(var(--summer-light-rgb), .8),
                    10s
                );
            }
        }
    }

   &__grid .btn {
        &--card {
            font-size: 2rem;
            margin: 0 6rem 1rem;
            padding: 2rem;
            background-color: rgba(var(--summer-secondary-rgb), .8);
            box-shadow: 6px 3px 2px rgba(var(--summer-dark-rgb), .9);
    
            &:hover {
                @include button-animate(rgba(var(--summer-primary-rgb), .8), rgba(var(--summer-light-rgb), .8), 0, -10px);
            }
    
            @include respond(1280) {
                font-size: 3rem;
                margin: 0 18rem 2rem;
                padding: 2rem;
            }
    
            @include respond(420) {
                margin: 0 10rem 2rem;
                padding: 1.6rem;
                font-size: 2.8rem;
            }
        }
    }
}