.navigation {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 3rem;
    font-size: 3rem;
    font-family: var(--font-2);

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;

        @include respond(1024) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90%;
        }

        &--item {
            text-align: center;
            padding: 1rem 1.5rem;

            @include respond(1024) {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 8rem;
                border-bottom: solid 1px rgba(var(--near-white-rgb), .8);

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }

    &__link {
        @include link-unset;
        padding: .5rem 2rem .5rem 2rem;
        transition: all .5s;

        &--home {
            color: rgba(var(--spring-secondary-rgb), 1);

            &:hover,
            &:active {
                color: rgba(var(--spring-primary-rgb), 1);
            }
        }

        &--projects {
            color: rgba(var(--summer-secondary-rgb), 1);

            &:hover,
            &:active {
                color: rgba(var(--summer-primary-rgb), 1);
            }
        }

        &--about {
            color: rgba(var(--fall-secondary-rgb), 1);

            &:hover,
            &:active {
                color: rgba(var(--fall-primary-rgb), 1);
            }
        }

        &--contact {
            color: rgba(var(--winter-secondary-rgb), 1);

            &:hover,
            &:active {
                color: rgba(var(--winter-primary-rgb), 1);
            }
        }

        @include respond(1024) {
            margin: auto 0;
        }
    }
}

// Mobile nav styles 
.nav-toggle {
    opacity: 0;
}

@include respond(1024) {
    .navigation {
        position: absolute;
        background-color: rgba(var(--dark-rgb), .9);
        width: 100%;
        height: 100%;
        top: 0;
        overflow: hidden;
    }

    .navigation--open {
        transform: translateX(0);
        transition-duration: 500ms;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.86, 0, .07, 1);
    }

    .navigation--closed {
        transform: translateX(-100%);
        transition-duration: 500ms;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.86, 0, .07, 1);
    }

    .nav-toggle {
        opacity: 1;
        z-index: 10000;
        position: absolute;
        top: 1%;
        right: 1%;
        padding: 3rem;
        cursor: pointer;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background-color: rgba(var(--near-white-rgb), .8);
        height: 3px;
        width: 8rem;
        border-radius: 3px;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
    }

    .hamburger::before {
        transform: translateY(-6px);
    }

    .hamburger::after {
        transform: translateY(3px);
    }

    .open .hamburger {
        transform: rotate(180deg) rotate(45deg);
    }

    .open .hamburger::before {
        opacity: 0;
    }

    .open .hamburger::after {
        transform: translateY(-3px) rotate(-360deg) rotate(-90deg);
    }
}