// About page

.container {
    &__about {

        &__content-wrapper {
            background-color: rgba(var(--dark-rgb), .8);
            font-family: var(--font-3);
            color: rgba(var(--near-white-rgb), .8);;
            flex-direction: column;
            font-size: 4rem;
            line-height: 1.1;

        }

        .about {

            &__bio--container {
                margin: 4rem auto;
                padding: 2rem 4rem;
                width: 80%;
            }
            
            &__skill-set {
                width: 100%;
                color: rgba(var(--off-white-rgb), .4);
    
                &__icon-bar {
                    display: flex;
                    font-size: 7.5rem;
                    justify-content: space-around;
                }
            }
        }

        // p[class^="about__bio--"] {
           
        // }

   

    }
}