// About page

.container {
    &__about {
        &__content-wrapper {
            font-family: var(--font-3);
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        .about {
            &__bio--container {
                flex: 1;
                padding: 3%;
                width: 100%;
                height: auto;
                max-height: 75%;
                font-size: 3.8rem;
                color: rgba(var(--near-white-rgb), .8);
                background-color: rgba(var(--dark-rgb), .8);
                border-radius: 5px;

                &--em {
                    color: rgba(var(--fall-secondary-rgb), .8);
                }

                @include respond(1680) {font-size: 3.2rem;}
                @include respond(1440) {font-size: 3rem;}

                @include respond(768) {
                    margin-top: 10%;
                    font-size: 4.8rem;
                }
                @include respond(420) {
                    font-size: 3.6rem;
                    overflow: scroll;
                }
            }

            &__skill-set {
                width: 100%;
                height: auto;
                margin: 1rem 0;
                padding: 3rem;
                color: rgba(var(--fall-secondary-rgb), .8);
                background-color: rgba(var(--dark-rgb), .8);
                border-radius: 5px;

                @include respond(420) {
                    padding: 1rem;
                }

                // TODO add dark background for visibility
                &__icon-bar {
                    display: flex;
                    font-size: 7.5rem;
                    justify-content: space-evenly;

                    @include respond(420) {
                        font-size: 6rem;
                    }

                    @include gradient-animate(90deg,
                        rgba(var(--fall-dark-rgb), .8),
                        rgba(var(--fall-secondary-rgb), .8),
                        rgba(var(--fall-light-rgb), .8),
                        30s);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }
        }
    }
}