// About page

.container {
    &__about {
        &__content-wrapper {
            font-family: var(--font-3);
            font-size: 3.8rem;
            line-height: 1.1;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        .about {
            &__bio--container {
                margin-top: 5%;
                flex: 1;
                padding: 4rem;
                width: 100%;
                font-size: 4rem;
                background-color: rgba(var(--dark-rgb), .2);
                border-radius: 5px;

                &--em {
                    color: rgba(var(--fall-secondary-rgb), .8);
                }

                @include respond(1280) {
                    margin-top: 10%;
                    flex-basis: 70%;
                    flex-grow: 0;
                    flex-shrink: 1;
                }

                @include respond(600) {
                    font-size: 3.4rem;
                }

                @include respond(375) {
                    font-size: 3rem;
                }
            }

            &__skill-set {
                width: 100%;
                margin-top: 4rem;
                flex: 1;
                color: rgba(var(--fall-secondary-rgb), .8);

                @include respond(1680) {
                    margin-top: 10rem;
                }

                @include respond(1280) {
                    margin-top: 6rem;
                }

                @include respond(880) {
                    margin-top: 4rem;
                }

                @include respond(375) {
                    margin-top: 2rem;
                }

                &__icon-bar {
                    display: flex;
                    font-size: 7.5rem;
                    justify-content: space-evenly;

                    @include respond(420) {
                        font-size: 6.4rem;
                    }

                    @include gradient-animate(90deg,
                        rgba(var(--fall-dark-rgb), .8),
                        rgba(var(--fall-secondary-rgb), .8),
                        rgba(var(--fall-light-rgb), .8),
                        30s);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }
        }
    }
}