.container {
    // &__contact {

    //     &__content-wrapper {
    //         // font-size: 4rem;
    //         // text-align: center;
    //     }
    // }

    .contact {
        &__description {
            position: absolute;
            top: 20%;
            right: 8%;
            height: 50%;
            width: 50%;
            font-family: var(--font-1);
            text-align: center;
            line-height: .8;
            border-radius: 5px;
            @include respond(1680) {
                top: 15%;
                right: 5%;
            }
            
            @include respond(1024) {
                right: 0;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: auto;
                width: auto;
                padding: 3rem;
                color: rgba(var(--near-white-rgb), .8);
                background-color: rgba(var(--dark-rgb), .8);
            }

            &--main {
                margin-bottom: 4rem;
                font-size: 10rem;
                font-weight: 400;
                @include respond(768) {
                    font-size: 12rem;
                }
                @include respond(420) {
                    font-size: 8rem;
                }
                &--em {
                    color: rgba(var(--winter-secondary-rgb), 1);
                    @include gradient-animate(270deg,
                        rgba(var(--winter-dark-rgb), .8),
                        rgba(var(--winter-light-rgb), .8),
                        rgba(var(--winter-dark-rgb), .8),
                        10s);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }

            &--sub {
                margin-bottom: 2rem;
                line-height: 1;
                font-family: var(--font-3);
                font-size: 6rem;
                @include respond(768) {
                    font-size: 8rem;
                }
                @include respond(420) {
                    font-size: 5.2rem;
                }
            }

            &--phone {
                width: 50%;
                margin: 2rem auto;
                padding: 2rem 0 2rem;
                font-size: 8rem;
                border-bottom: solid currentColor 1px;

                @include respond(768) {
                    font-size: 12rem;
                }
                @include respond(420) {
                    font-size: 6rem;
                }
            }

            &--socials {
                margin-top: 2rem;
                font-size: 6rem;
                @include respond(768) {
                    font-size: 12rem;
                }
                @include respond(420) {
                    font-size: 10rem;
                }

                &>* {
                    padding: 0 2rem;
                    color: rgba(var(--winter-secondary-rgb), 1);
                    @include gradient-animate(90deg,
                    rgba(var(--winter-dark-rgb), .8),
                    rgba(var(--winter-light-rgb), .8),
                    rgba(var(--winter-dark-rgb), .8),
                    10s);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:hover {
                        @include button-animate(rgba(var(--winter-primary-rgb), .8), null, 0, 0);
                    }
                }

            }
        }
    }
}