.container {
    &__contact {

        &__content-wrapper {
            font-size: 4rem;
            text-align: center;
        }
    }

    .contact {
        &__description {
                height: 100%;
                width: 50%;
                font-size: 5rem;
                font-family: var(--font-1);
                text-align: center;
                line-height: .8;
                position: absolute;
                top: 3rem;
                right: 8rem;
                @include respond(1280) {
                    top: 0;
                    right: 0;
                    position: relative;
                    margin: 10% auto;
                    width: 80%;
                    font-size: 12rem;
                }
                @include respond(1024) {
                    margin: 20% auto;
                    font-size: 8rem;
                }
               @include respond(768) {
                    margin: 50% auto;
                    width: 100%;
                    font-size: 6rem;
               }
            &--heading {
                font-weight: 400;
                margin-bottom: 4rem;
                &--em {
                    color: rgba(var(--winter-secondary-rgb), 1);
                }
            }
            &--main {
                line-height: 1;
                font-family: var(--font-3);
                margin-bottom: 2rem;
            }
            &--phone {
                font-size: 6rem;
                width: 50%;
                margin: 2rem auto;
                padding: 2rem 0 2rem;
                border-bottom: solid currentColor 1px;
            }
            &--socials {
                font-size: 6rem;
                margin-top: 2rem;
                & > * {
                    color: rgba(var(--winter-secondary-rgb), 1);
                    padding: 0 2rem;
                }
            }
        }
    }
}