.background {


    &__svg-tree {
        position: fixed;
        height: 120%;
        width: auto;
        bottom: -20%;
        left: 0;
        right: 0;
        z-index: -1;
        @include respond(1024) {
            height: 110%;
        }
        &-st0 {
            clip-path: url(#XMLID_2_);
        }

        &-st1 {
            fill: #FFFFFF;
        }

        &-st2 {
            display: none;
        }

        &-st3 {
            display: inline;
        }

        &-st4 {
            display: none;
            fill: #AAC0DF;
            stroke: #000000;
            stroke-width: 10;
            stroke-miterlimit: 10;
        }

        &-st5 {
            display: none;
            fill: #FFABBC;
            stroke: #000000;
            stroke-width: 10;
            stroke-miterlimit: 10;
        }

        &-st6 {
            display: none;
            fill: #6AC195;
            stroke: #000000;
            stroke-width: 10;
            stroke-miterlimit: 10;
        }

        &-st7 {
            display: none;
            fill: #F0A55A;
            stroke: #000000;
            stroke-width: 10;
            stroke-miterlimit: 10;
        }

        &-st8 {
            display: none;
            stroke: #000000;
            stroke-width: 3;
            stroke-miterlimit: 10;
        }

        &-st9 {
            display: none;
            stroke: #000000;
            stroke-miterlimit: 10;
        }



    }

}