.background {


    &__svg-tree {
        position: fixed;
        height: 120%;
        width: auto;
        bottom: -20%;
        left: 0;
        right: 0;
        z-index: -1;
        @include respond(1024) {
            height: 110%;
        }
        



    }

}