
// Sass color pallet.
/* Reason for doing this: I wanted to use css variables for their flexibility 
but I also wanted them to be in a single folder for easy changes. 
I needed the ability to use them in a rgba format and I wanted the ability to manipulate them using JS.
This solution also provides a bit of future proofing. I can easily change, expand, and manipulate the color pallet
all from a single folder. It required a bit of sass and css trickery to accomplish. */

// Sass variable declarations. Change these to update all colors of the same name.
/* General */
/* Black */
$dark: #0e1316;
$blue-black: #142025;
/* grey */
$grey: #535657;
/* white */
$off-white: #c5c6c7;
$near-white: #fafafa;

/* Spring */
$spring-dark: #ff5f88;
$spring-primary: #ffa3ba;
$spring-secondary: #ffd3de;
$spring-light: #ffe1e9;

/* Summer */
$summer-dark: #084177;
$summer-primary: #0779e4;
$summer-secondary: #6cb2f5;
$summer-light: #c5e2fc;


/* Fall */
$fall-dark: #fa4a3a;
$fall-primary: #ea6559;
$fall-secondary: #f79071;
$fall-light: #fdd6cb;

/* Winter */
$winter-dark: #345a67;
$winter-primary: #8eb3bf;
$winter-secondary: #aed1dc;
$winter-light: #d9eaef;

// Converting sass variables to css variables.
// Includes a hex version and a "-rgb" version used to create rgba colors. Uses hexToRGB function located in the functions file.
// The hex version exists mostly to provide a value for the hexToRGB function to use.
:root {
/* Black */
    --dark: #{$dark};
    --dark-rgb: #{hexToRGB($dark)};

    --blue-black: #{$blue-black};
    --blue-black-rgb: #{hexToRGB($blue-black)};

/* grey */
    --grey: #{$grey};
    --grey-rgb: #{hexToRGB($grey)};

/* white */
    --off-white: #{$off-white};
    --off-white-rgb: #{hexToRGB($off-white)};

    --near-white: #{$near-white};
    --near-white-rgb: #{hexToRGB($near-white)};

/* Spring */
    --spring-dark: #{$spring-dark};
    --spring-dark-rgb: #{hexToRGB($spring-dark)};

    --spring-primary: rgb(#{$spring-primary});
    --spring-primary-rgb: #{hexToRGB($spring-primary)};

    --spring-secondary: #{$spring-secondary};
    --spring-secondary-rgb: #{hexToRGB($spring-secondary)};
    
    --spring-light: #{$spring-light};
    --spring-light-rgb: #{hexToRGB($spring-light)};

/* Summer */
    --summer-dark: #{$summer-dark};
    --summer-dark-rgb: #{hexToRGB($summer-dark)};

    --summer-primary: #{$summer-primary};
    --summer-primary-rgb: #{hexToRGB($summer-primary)};

    --summer-secondary: #{$summer-secondary};
    --summer-secondary-rgb: #{hexToRGB($summer-secondary)};

    --summer-light: #{$summer-light};
    --summer-light-rgb: #{hexToRGB($summer-light)};



/* Fall */
    --fall-dark: #{$fall-dark};
    --fall-dark-rgb: #{hexToRGB($fall-dark)};

    --fall-primary: #{$fall-primary};
    --fall-primary-rgb: #{hexToRGB($fall-primary)};

    --fall-secondary: #{$fall-secondary};
    --fall-secondary-rgb: #{hexToRGB($fall-secondary)};

    --fall-light: #{$fall-light};
    --fall-light-rgb: #{hexToRGB($fall-light)};


/* Winter */
    --winter-dark: #{$winter-dark};
    --winter-dark-rgb: #{hexToRGB($winter-dark)};

    --winter-primary: #{$winter-primary};
    --winter-primary-rgb: #{hexToRGB($winter-primary)};

    --winter-secondary: #{$winter-secondary};
    --winter-secondary-rgb: #{hexToRGB($winter-secondary)};

    --winter-light: #{$winter-light};
    --winter-light-rgb: #{hexToRGB($winter-light)};



    // font variables 
    --font-1: cubano, sans-serif;
    --font-2: cubano-sharp, sans-serif;
    --font-3: eskapade, serif;
    --font-4: eskapade-fraktur, serif;
    --font-5: geographica, sans-serif;
    --font-6: moret, serif;
    --font-7: pragmatapro-fraktur, serif;
    --font-8: ode, sans-serif;
    --font-9: "merriweather";
    --font-10: "merriweather";
    --font-11: "merriweather";
    --font-12: "merriweather";
    --font-13: "merriweather";
    --font-14: "merriweather";

}